# Virtual environments
venv/
.venv/

# Cache info
__pycache__/
*.pyc

# Database files
data/
*.db
*.sqlite

# Flask Tracking 
instance/

# Model Tracking
model/

# Environment Setup
.env

# Automatic files
.DS_Store

