# Virtual environments
venv/
.venv/

# Cache info
__pycache__/
*.pyc

# Database files
data/

# Flask Tracking 
hidden/

# Model Tracking
models/

# Environment Setup
.env

# Automatic files
.DS_Store

# Stop tracking database now that it has been finalised
*.db
instance/